<!-- <!-- -- interpolation --
<h1>{{name}}<h1>
  <h1>{{greet()}}<h1>
    <br>
<p   style=" font-size:10pxpxpx">--in tinterpolation we cannot assign the value --also you cannot change the defaulted html attributes ex:disabled ,required-- </p>
<br><br>
--property binding---
<input type="text" disabled placeholder="name">Name -->
welcome to code evlLUTION<BR>
<input  [type]="change" placeholder="name">Name

<br><br><br>

--class binding-- 
<p class="text-danger" >coding for brian</p>
<p [ngClass]="messageclasses">ok google</p>

--style binding----
<p [style.color]="hasError ? 'red':'green'"> style binding</p>

<p [style.color]="stylecolor">style binding2</p>

<p [ngStyle]="styles">style binding to buddhas wisdom</p>


----event binding----
---here we listens to user events like mouse click and keyboard clicks---

<button (click)="onclick()">welcome to codeevalutionary</button>
{{see}}

<button (click)="onclickof()">do not restrict your mind</button>
{{mind}}

---assigning in the tamplate itself-----
<button (click)="see='welcome the world child'">click</button>


<br><br><br><br><br>
<button (click)="onpress()">
</button> -->


